---
import { getCollection, render } from "astro:content"
import Layout from "../layouts/Layout.astro"

export async function getStaticPaths() {
	const items = await getCollection("items")

	return items.map((item) => ({
		params: {
			id: item.slug,
		},
		props: { item },
	}))
}

const { item } = Astro.props
const { data, slug } = item
const { title } = data

const proyectos = await getCollection("proyectos")

export const prerender = true

const { Content } = await render(item)
---

<Layout title={title}>
	<div class="mt-30 flex max-w-3xl flex-col items-start justify-center gap-12">
		<h1
			transition:name={`title-${slug}`}
			class="text-3xl font-bold text-white">
			{title}
		</h1>
		{
			slug === "proyectos" ? (
				<article>
					<div class="flex w-full flex-col justify-center md:py-2">
						{proyectos.map((p) => (
							<a
								href={`/proyectos/${p.slug}`}
								transition:name={`title-${p.slug}`}
								class="relative mb-2 cursor-pointer text-2xl leading-tight font-semibold text-white transition-all ease-in-out before:absolute before:bottom-0 before:left-[50%] before:h-[2px] before:w-0 before:origin-center before:bg-rose-400 before:transition-[width] before:duration-700 before:ease-in-out after:absolute after:right-[50%] after:bottom-0 after:h-[2px] after:w-0 after:origin-center after:bg-rose-400 after:transition-[width] after:duration-700 after:ease-in-out hover:text-rose-400 hover:before:w-[50%] hover:after:w-[50%]">
								{p.data.title}
							</a>
						))}
					</div>
				</article>
			) : (
				<div class="prose prose-invert">
					<Content />
				</div>
			)
		}
	</div>
</Layout>
