---
import Tooltip from "./Tooltip.astro"

const { title, images } = Astro.props
---

<div class="h-max space-y-5">
	<p>{title}</p>
	<div class="flex flex-wrap justify-center gap-2">
		{
			images.map(({ src, width, height, alt }) => (
				<Tooltip text={alt}>
					<img
						src={src}
						width={width}
						height={height}
						alt={alt}
						class="obeject-contain"
					/>
				</Tooltip>
			))
		}
	</div>
</div>
